
<h2 class="text-center mb-4">Gallery Grid</h2>
<div class="row" id="galleryDiv">

</div>
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" class="img-fluid" id="lightboxImage" alt="">
                <p id="lightboxDescription"></p>
            </div>
        </div>
    </div>
</div>