
<h1 class="text-center">Volunteer Opportunities</h1>
<div id="opportunityMain" class="d-flex justify-content-center flex-wrap align-items-center mx-auto w-100">
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="col">
                    <span id="signUpInfo"></span>
                    <div class="col my-2">
                        <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Full name" aria-label="Full name" required>
                    </div>
                    <div class="col">
                        <input type="email" name="email" placeholder="Email" class="form-control" id="email" required>
                    </div>
                    <div class="col my-2">
                        <input type="text" name="preferredRole" id="preferredRole" class="form-control" placeholder="Preferred Role" aria-label="Preferred Role" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="signUpModalButton" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>