<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/">VC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="opportune" href="#/opportunity">Opportunities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#/news">News</a></li>
            <li><a class="dropdown-item" href="#/gallery">Gallery</a></li>
            <li><a class="dropdown-item" href="#/visitorstat">Statistics</a></li>
            <li><a class="dropdown-item" href="#/eventplanning">Event Planning</a></li>
            <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="#">Terms of Service</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="searchNav" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>